.header {
    
  background: linear-gradient(
    90deg,
    rgba(8, 9, 87, 1) 0%,
    rgba(9, 9, 121, 1) 50%,
    rgba(0, 212, 255, 1) 100%
  );
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 50px;
    padding: 10px 30px;
}

.header > a {
    color: white;
}

.header__logo {
    height: 100%;
}
